{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="best_summer_banner">
        <img class="img-fluid" src="{{ asset('assets/img/banner/summer-banner.jpg') }}" alt="">
        <div class="summer_text">
            <h3>MA TV</h3>
            <p>MATV
                Rejoignez nous dès a présent !</p>
            <a class="add_cart_btn" href="#">Join us</a>
        </div>
    </div>
    <div class="latest_product_3steps">
        <div class="s_m_title">
            <h2>Dernieres TV crée</h2>
        </div>
        <div class="l_product_slider owl-carousel">
            <div class="item">
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-9.jpg" alt="">
                        <h5 class="sale">Sale</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Womens Libero</h4>
                        <h5><del>$45.50</del>  $40</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-10.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Oxford Shirt</h4>
                        <h5>$85.50</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-11.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Oxford Shirt</h4>
                        <h5>$85.50</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-12.jpg" alt="">
                        <h5 class="new">New</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Travel Bags</h4>
                        <h5><del>$45.50</del>  $40</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-13.jpg" alt="">
                        <h5 class="sale">Sale</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>High Heel</h4>
                        <h5><del>$130.50</del>  $110</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-14.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>High Heel</h4>
                        <h5><del>$130.50</del>  $110</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-15.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Summer Dress</h4>
                        <h5>$45.05</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-16.jpg" alt="">
                        <h5 class="sale">Sale</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Fossil Watch</h4>
                        <h5>$250.00</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-17.jpg" alt="">
                        <h5 class="sale">Sale</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Fossil Watch</h4>
                        <h5>$250.00</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-18.jpg" alt="">
                        <h5 class="sale">Sale</h5>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Nike Shoes</h4>
                        <h5><del>$130</del> $110</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-19.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Ricky Shirt</h4>
                        <h5>$45.05</h5>
                    </div>
                </div>
                <div class="l_product_item">
                    <div class="l_p_img">
                        <img src="img/product/l-product-20.jpg" alt="">
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>Ricky Shirt</h4>
                        <h5>$45.05</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature_box_area">
        <div class="row m0">
            <div class="col-lg-6">
                <div class="f_add_item white_add">
                    <div class="f_add_img"><img class="img-fluid" src="img/feature-add/f-add-8.jpg" alt=""></div>
                    <div class="f_add_hover">
                        <h4>Best Summer <br>Collection</h4>
                        <a class="add_btn" href="#">Shop Now <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="f_add_item white_add">
                    <div class="f_add_img"><img class="img-fluid" src="img/feature-add/f-add-9.jpg" alt=""></div>
                    <div class="f_add_hover">
                        <h4>Best Summer <br>Collection</h4>
                        <a class="add_btn" href="#">Shop Now <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
