{% extends 'base.html.twig' %}

{% block title %}Page TV{% endblock %}

{% block body %}

    <div class="best_summer_banner">
        <img class="img-fluid" src="{{ asset('assets/img/banner/summer-banner.jpg') }}" alt="">
        <div class="summer_text">
            <h3>{{ tv.nomTv }}</h3>
            <p>There is no one who loves to be bread, who looks after it and wants to have it, simply because it is pain.</p>
            {#<a class="add_cart_btn" href="#">shop now</a>#}
        </div>
    </div>
    {#<!--================Home Carousel Area =================-->#}
    {#<section class="home_carousel_area">#}
        {#<div class="home_carousel_slider owl-carousel">#}
            {#<div class="item">#}
                {#<div class="h_carousel_item">#}
                    {#<img src="{{ asset('assets/img/home-carousel/home-c-1.jpg') }}" alt="">#}
                    {#<div class="carousel_hover">#}
                        {#<h3>mens bag</h3>#}
                        {#<h4>We feature the best professional bags </h4>#}
                        {#<h5>Including:</h5>#}
                        {#<p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>#}
                        {#<a class="discover_btn" href="#">discover now</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#<!--================End Home Carousel Area =================-->#}

{% endblock %}
