{% extends 'base.html.twig' %}

{% block title %}Bienvdddenue sur votre TV !{% endblock %}

{% block menu_createur %}
    {#<li class="nav-item"><a class="nav-link" href="{{ path('rechercher_chaine') }}">- Gestion Chaine</a></li>#}
    <li class="nav-item"><a class="nav-link" href="{{ path('show_ma_tv') }}">- Show Ma Tv</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('show_tv') }}">- Show Tv</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('edit_tv') }}">- nom et description Tv</a></li>
{% endblock %}

{% block body %}

{% endblock %}
